* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

body {
  background-color: black;
  color: white;
}

/* **************   NavBar        *************** */

.main {
  top: 0;
  position: relative;
  background-image: url(image/bg.jpg);
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  width: 100%;
  height: 644px;
}

.main .box {
  width: 100%;
  height: 644px;
  opacity: 0.74;
  position: absolute;
  top: 0;
  background: rgb(0 0 0 / 40%);
}

nav {
  max-width: 60vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10px;
  height: 62px;
}

nav img {
  position: relative;
  z-index: 10;
  width: 140px;
}

nav button {
  position: relative;
  background: red;
  padding: 10px;
  border-radius: 9px;
  width: 80px;
  border: none;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}

.nav-btn {
  background-color: grey;
  margin-right: 10px;
  color: white;
  cursor: pointer;
}

/* *********   Front Page Content   **************/

.hero {
  position: relative;
  height: calc(100% - 62px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.hero > :nth-child(1) {
  font-weight: bolder;
  font-size: 48px;
}

.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
}

.sepration {
  height: 11px;
  background-color: grey;
}

.col {
  display: flex;
  flex-wrap: wrap;
}
.col input {
  width: 30vw;
  height: 9vh;
  background-color: rgba(23, 23, 23, 0.7);
  color: white;
  border: 1px solid white;
}

.col button {
  width: 15vw;
  height: 9vh;
  margin-left: 10px;
  background: red;
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* *********   Section Content  **************/

/* *********   Container-1  **************/

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
}

.secimage {
  position: relative;
}

.secimage img {
  width: 555px;
  position: relative;
  z-index: 10;
}

.secimage video {
  position: absolute;
  top: 51px;
  right: 0;
  width: 555px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}

section.first > div :nth-child(1) {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.faq {
  padding: 34px;
}

.faq h2 {
  font-size: 48px;
  text-align: center;
}

.faqbox .line {
  height: 6px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
}

.faqbox .line:hover {
  background-color: red;
}

.faqbox {
  display: flex;
  margin:34px auto;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  background-color: grey;
  padding: 17px;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.faqbox:hover{
  background-color: rgb(54, 51, 51);
  color: red;
}

footer{
  color: white;
  width: 70vw;
  margin: auto;
  padding: 60px;
}

footer .questions{
  padding: 34px 0;
}


.questions a{
  color: white;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.footer a {
  font-size: 14px;
  color: white;
}


